body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shelf {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 600px;
}

.book {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid lightblue;
}
