body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shelf {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 600px;
}

.book {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid lightblue;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    outline: none;
    width: 300px;
    height: 30px;
    border: 1px solid blueviolet;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 1px solid lightsteelblue;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    border: 0px;
    background-color: tomato;
}